<main>
    <section id="section-login">
        <h2>Login</h2>
        <form class="row g-3">
            <label for="staticUser" class="visually-hidden">Usuário</label>
            <input name="usuario" required type="text" [(ngModel)]="usuario" class="form-control" id="staticUser" placeholder="email@example.com">

            <label for="inputPassword" class="visually-hidden">Senha</label>
            <input name="password" type="password" [(ngModel)]="senha" class="form-control" id="inputPassword" placeholder="senha">

            <button type="submit" class="btn btn-primary mb-3" (click)="fazerLogin()">Entrar</button>
        </form>
    </section>
</main>