<main>
    <section id="section-login">
        <h2>Login</h2>
        <form class="row g-3">
            <label for="staticUser" class="visually-hidden">Usuário</label>
            <input type="text" class="form-control" id="staticUser" placeholder="email@example.com">

            <label for="inputPassword" class="visually-hidden">Senha</label>
            <input type="password" class="form-control" id="inputPassword" placeholder="Senha">

            <button type="submit" class="btn btn-primary mb-3">Entrar</button>
        </form>
    </section>
</main>