<table class="table">
    <thead>
        <tr>
            <th scope="col">Id</th>
            <th scope="col">Produto</th>
            <th scope="col">Descrição</th>
            <th scope="col">Foto</th>
            <th scope="col">Preço</th>
            <th scope="col">Editar</th>
            <th scope="col">Excluir</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let produtoList of produtos">
            <th scope="row">{{produtoList.id}}</th>
            <td>{{produtoList.produto}}</td>
            <td>{{produtoList.descricao}}</td>
            <td><img mat-card-image src="./assets/img/{{produtoList.foto}}" alt="produto"></td>
            <td>{{produtoList.preco | currency : 'BRL'}}</td>
            <td><a class="btn btn-primary" routerLink="/restrito/editar/{{produtoList.id}}" role="button">Editar</a></td>
            <td><a class="btn btn-danger" (click)="excluir(produtoList.id)" role="button">Excluir</a></td>
        </tr>
    </tbody>
</table>