<table class="table">
    <thead>
        <tr>
            <th scope="col">Id</th>
            <th scope="col">Produto</th>
            <th scope="col">Descrição</th>
            <th scope="col">Foto</th>
            <th scope="col">Preço</th>
            <th scope="col">Editar</th>
            <th scope="col">Excluir</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <th scope="row"></th>
            <td></td>
            <td></td>
            <td><img mat-card-image src="./assets/img/" alt="produto"></td>
            <td></td>
            <td><a class="btn btn-primary" routerLink="/restrito/editar/" role="button">Editar</a></td>
            <td><a class="btn btn-danger" role="button">Excluir</a></td>
        </tr>
    </tbody>
</table>