<main>
    <h1>Cadastrar jogo</h1>
    <section id="section-cadastro">
        <form>
            <label for="produto">Nome do Produto</label>
            <input type="text" class="form-control" name="produto">
            <br>
            <label for="descricao">Descrição</label>
            <input type="text" class="form-control" name="descricao">
            <br>
            <label for="foto">Foto</label>
            <input type="text" class="form-control" name="foto">
            <br>
            <label for="preco">Preço</label>
            <input type="number" class="form-control" name="preco">
            <br>
            <button type="button" class="btn btnprimary mb-3">Cadastrar</button>
        </form>
    </section>
</main>