<main>

    <section id="section-banner">
        <div id="carouselExampleAutoplaying" class="carousel slide" data-bs-ride="carousel">
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <img src="./assets/img/banner1.png" class="d-block w-100" alt="Promoção de Jogo">
                </div>
                <div class="carousel-item">
                    <img src="./assets/img/banner2.png" class="d-block w-100"
                        alt="Jogue e divirta-se com nossas coleções">
                </div>
                <div class="carousel-item">
                    <img src="./assets/img/banner3.png" class="d-block w-100" alt="Estamos esperando por você!">
                </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleAutoplaying"
                data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleAutoplaying"
                data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </button>
        </div>
    </section>

    <h2>Jogos em Promoção</h2>

    <mat-grid-list cols="3">
        <mat-grid-tile>
            <mat-card class="example-card">
                <img mat-card-image src="./assets/img/jogo1.png" alt="Jogo 1">
                <mat-card-header>
                    <mat-card-title>Jogo 1</mat-card-title>
                </mat-card-header>
                <mat-card-content>
                    <p>
                        Descrição do Jogo 1.
                    </p>
                </mat-card-content>
                <mat-card-actions>
                    <p>R$ 360,00</p>
                    <button mat-button>Comprar</button>
                </mat-card-actions>
            </mat-card>
        </mat-grid-tile>
        <mat-grid-tile>
            <mat-card class="example-card">
                <img mat-card-image src="./assets/img/jogo2.png" alt="Jogo 2">
                <mat-card-header>
                    <mat-card-title>Jogo 2</mat-card-title>
                </mat-card-header>
                <mat-card-content>
                    <p>
                        Descrição do Jogo 2.
                    </p>
                </mat-card-content>
                <mat-card-actions>
                    <p>R$ 200,00</p>
                    <button mat-button>Comprar</button>
                </mat-card-actions>
            </mat-card>
        </mat-grid-tile>
        <mat-grid-tile>
            <mat-card class="example-card">
                <img mat-card-image src="./assets/img/jogo3.png" alt="Jogo 3">
                <mat-card-header>
                    <mat-card-title>Jogo 3</mat-card-title>
                </mat-card-header>
                <mat-card-content>
                    <p>
                        Descrição do Jogo 3.
                    </p>
                </mat-card-content>
                <mat-card-actions>
                    <p>R$ 400,00</p>
                    <button mat-button>Comprar</button>
                </mat-card-actions>
            </mat-card>
        </mat-grid-tile>
    </mat-grid-list>

</main>