main {
    min-height: 500px;
}

#section-banner {
    min-height: 400px;
}

#section-banner img {
    height: 500px;
}

h2 {
   text-align: center;
   font-size: 30px;
   margin-top: 20px; 
}

.example-card {
    max-width: 400px;
}

.example-header-image {
    background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
    background-size: auto;
}

mat-grid-list {
    margin: 10px 0;
}

mat-grid-tile {
    padding: 2px;
    border-radius: 30px;
}

mat-card-header {
    display: flex;
    align-items: center;
    justify-content: center;
}

mat-card-actions {
    display: flex;
    justify-content: space-around;
}

mat-card-actions p {
    color: red;
    font-size: 30px;
}

mat-card img {
    height: 300px;
    width: 300px;
}